<% @secrets.each do |secret| %>
    <p class="secrets"><%= secret.content %></p> -
    <p class="secrets"><%= secret.likes.count %> likes</p>
        <% if secret.likes.count > 0%>
            <% secret.likes.each do |like|%>
                <% if like.user_id == current_user.id%>
                    <form  class="secrets" action='/likes' method='post'>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                        <input type='hidden' name='_method' value='delete'>
                        <input type='hidden' name='like_id' value='<%= like.id %>'>
                        <input type='submit' value='Unlike'>
                    </form>
                <% end %>
            <% end %>
        <% else %>
            <form  class="secrets" action='/likes' method='post'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='secret_id' value='<%= secret.id %>'>
                <input type='submit' value='Like'>
            </form>
        <% end %>
    <% if current_user == secret.user %>
        <form class="delete_button" action='/secrets/<%= secret.id %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Delete'>
        </form>
    <% end %>
<br>
<% end %>
<style media="screen">
    .secrets, .delete_button {
        display: inline-block;
    }
</style>
